<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
  <%=form_with model: @user, url: users_path, remote: true do |form| %>
    <p>
      <%=form.text_area :name%>
    </p>

    <p>
      <%= form.submit class: "btn btn-primary"%>
    </p>
  <%end %>
</div>